/* line 5, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  background-color: #121314;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: #88898c;
}
/* line 8, ../sass/screen.scss */
body .countdown-header {
  color: #dfe0e6;
  margin: 50px auto 6px auto;
  font-weight: 500;
}
/* line 13, ../sass/screen.scss */
body .countdown-container {
  margin: 20px auto;
}
/* line 15, ../sass/screen.scss */
body .countdown-container .countdown-text {
  margin: 25px auto;
}
/* line 17, ../sass/screen.scss */
body .countdown-container .countdown-text:first-child {
  margin-bottom: 50px;
}
/* line 22, ../sass/screen.scss */
body .countdown-container .countdown .flip-clock-label {
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 650px) {
  /* line 31, ../sass/screen.scss */
  .countdown-header {
    font-size: 32px;
  }

  /* line 34, ../sass/screen.scss */
  .countdown-container {
    width: 650px;
  }
  /* line 36, ../sass/screen.scss */
  .countdown-container .flip-clock-label {
    font-size: 14px;
  }
  /* line 39, ../sass/screen.scss */
  .countdown-container .countdown-text {
    font-size: 28px;
  }
}
@media screen and (min-width: 500px) and (max-width: 649px) {
  /* line 46, ../sass/screen.scss */
  .countdown-header {
    font-size: 24px;
  }

  /* line 49, ../sass/screen.scss */
  .countdown-container {
    width: 440px;
  }
  /* line 51, ../sass/screen.scss */
  .countdown-container .countdown-text {
    font-size: 20px;
  }
  /* line 54, ../sass/screen.scss */
  .countdown-container .countdown {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }
  /* line 57, ../sass/screen.scss */
  .countdown-container .countdown .flip-clock-label {
    font-size: 14px;
  }
}
@media screen and (max-width: 499px) {
  /* line 65, ../sass/screen.scss */
  .countdown-header {
    font-size: 18px;
  }

  /* line 68, ../sass/screen.scss */
  .countdown-container {
    width: 248px;
  }
  /* line 70, ../sass/screen.scss */
  .countdown-container .countdown-text {
    font-size: 16px;
  }
  /* line 73, ../sass/screen.scss */
  .countdown-container .countdown {
    zoom: 0.5;
    -moz-transform: scale(0.5);
  }
  /* line 76, ../sass/screen.scss */
  .countdown-container .countdown .flip-clock-divider.seconds {
    display: none;
  }
  /* line 80, ../sass/screen.scss */
  .countdown-container .countdown ul:nth-child(11), .countdown-container .countdown ul:nth-child(12) {
    display: none;
  }
  /* line 85, ../sass/screen.scss */
  .countdown-container .countdown .flip-clock-label {
    font-size: 12px;
  }
}
