body {
    background-color: #121314;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #fff;
    .countdown-header {
        color: #dfe0e6;
    }
    .countdown-text {
        font-size: 16px;
        margin-bottom: 50px;
        color: #fff;
    }
    .countdown-container {
        margin: 20px auto;

        .countdown-text {
            font-size: 16px;
            color: #88898c;

            small {
                &.red {
                    font-size: 16px;
                    color: #FF0000;
                }
            }
        }
        .countdown {
            .flip-clock-label {
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .countdown-header {
        font-size: 32px;
    }
    .countdown-container {
        width: 642px;
        .flip-clock-label {
            font-size: 14px;
        }
        .countdown-text {}
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    .countdown-header {
        font-size: 24px;
    }
    .countdown-container {
        width: 400px;
        .countdown-text {}
        .countdown {
            zoom: 0.7;
            -moz-transform: scale(0.7);
            .flip-clock-label {
                font-size: 14px;
            }
            .flip-clock-divider.seconds {
                display: none;
            }
            ul {
                &:nth-last-of-type(-n+2) {
                    display: none;
                }
            }
            &.flip-clock-wrapper {
                width: 460px;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 499px) {
    .countdown-header {
        font-size: 18px;
    }
    .countdown-container {
        width: 244px;
        .countdown {
            zoom: 0.5;
            -moz-transform: scale(0.5);
            &.flip-clock-wrapper {
                margin: 15px 14px;
            }
            .flip-clock-divider.seconds {
                display: none;
            }
            ul {
                &:nth-last-of-type(-n+2) {
                    display: none;
                }
            }
            .flip-clock-label {
                font-size: 12px;
            }
        }
    }
}